<h1>All Artists</h1>

<% @artists.each do |artist| %>
  <h3><%= artist.name %></h3>
  <img src="<%= artist.image_path %>" alt="artist_image_path"><br />
  <%= link_to "#{artist.name}", artist_path(artist) %>
<% end %>

<div>
  <%= link_to "New Artists", new_artist_path %>
</div>
